@import '../../assets/scss/design-system/base/variables';
@import '../../assets/scss/design-system/vendor/bootstrap/functions';
@import '../../assets/scss/design-system/vendor/bootstrap/mixins';
@import '../../assets/scss/design-system/vendor/bootstrap/variables';

.whiteTheme {
  > nav {
    background-color: $theme-white;
  }

  .main {
    @include media-breakpoint-up(md) {
      background-color: $theme-white;
    }
  }
}

.blueTheme {
  > nav {
    background-color: $theme-blue;
  }

  .main {
    @include media-breakpoint-up(md) {
      background-color: $theme-blue;
    }
  }
}

.wrapper {
  display: flex;

  > nav {
    @include media-breakpoint-up(xl) {
      width: 320px;
    }

    @include media-breakpoint-up(md) {
      width: 280px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &.hideOnMobile {
      @include media-breakpoint-down(sm) {
        display: none;
        visibility: hidden;
      }
    }
  }

  .main {
    flex: 1;
  }
}
