.toolbar .toolbar-bar .toolbar-icon-covid:before{
  background-image: url(../icons/bebebe/covid.svg);
}
.toolbar-bar .toolbar-icon-covid:active:before,
.toolbar-bar .toolbar-icon-covid.is-active:before {
  background-image: url(../icons/ffffff/covid.svg);
}

#toolbar-item-covid-tray {
  .item-list {
    li {
      margin: 0;
    }
  }
}
