@import '../../../assets/scss/design-system/base/variables';
@import '../../../assets/scss/design-system/vendor/bootstrap/functions';
@import '../../../assets/scss/design-system/vendor/bootstrap/mixins';
@import '../../../assets/scss/design-system/vendor/bootstrap/variables';

.measureDetailMobile {
  display: none;

  // desktop
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.measureDetailDesktop {
  display: block;

  // desktop
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
