$white: #fff;
$black: #000;

$theme-blue-lighten: #3375ae;
$theme-blue-light: #337dbd;
$theme-blue: #2362a2;
$theme-blue-dark: #254e80;

$theme-yellow: #ecae1a;
$theme-red: #e04857;
$theme-gray-dark: #3b3b3b;
$theme-gray: #707070;
$theme-gray-lighten: #e1e1e1;
$theme-gray-light: #f5f5f5;
$box-border-color-white: rgba(#bfbfbf, 0.3);

$grid-gutter-width: 32px;
$theme-path: '/ds';

$h2-font-size: 23px;
$h2-font-size-mobile: 18px;

@import 'design-system/front';

// Temporarily hide menu link for English measure page.

/*! purgecss ignore */
.nav__link[href='/en/measures'],
.nav__link--mobile[href='/en/measures'] {
  visibility: hidden;
}

.form-control {
  cursor: auto;
  font-size: 16px;
  line-height: 1;
}

.color-yellow {
  color: $theme-yellow;
}

.color-blue {
  color: $theme-blue;
}

.color-blue-dark {
  color: $theme-blue-dark;
}

.font-weight-medium {
  font-weight: 500;
}

.text-decoration-none {
  text-decoration: none;
}

.color-gray {
  color: $theme-gray;
}

a.external,
a.more {
  padding-right: 15px;
}

ul,
ol {
  margin: 0;
  padding: 0;

  margin-left: 15px;

  & > li,
  & > li {
    margin-bottom: 4px;
  }
}

ul:not(.breadcrumb):not(.tabs__list-holder):not(.paginator__list):not(.tabs__content-list):not(.modal-list):not(.data-box) > li::before {
  left: -10px;
}

ol > li::before {
  left: -17px;
}


h2,
.h2 {
  margin-bottom: 10px;
}

// Button
.btn {
  &.btn-primary {
    border-color: darken($theme-blue, 5%);
    background-color: $theme-blue;
    color: $white;

    &:hover,
    &:focus {
      &:not([disabled]) {
        border-color: darken($theme-blue, 5%);
        background-color: darken($theme-blue, 5%);
      }
    }

    &:active {
      &:not([disabled]) {
        border-color: darken($theme-blue, 8%);
        background-color: darken($theme-blue, 8%);
        color: $white;
      }
    }
  }

  &.btn-outline-primary {
    border-color: $theme-blue;
    color: $theme-blue-dark;
    text-align: left;
    white-space: normal;
    font-weight: 500;

    &:hover,
    &:focus {
      &:not([disabled]) {
        border-color: $theme-blue;
        background-color: $theme-blue;
        color: $white;
      }
    }

    &:active {
      &:not([disabled]) {
        border-color: darken($theme-blue, 8%);
        background-color: darken($theme-blue, 8%);
        color: $theme-gray-dark;
      }
    }

    &.btn-inverse {
      color: $white;

      &:not([disabled]) {
        &:active,
        &:hover,
        &:focus {
          color: $theme-gray-dark;
        }
      }
    }
  }

  &.btn-yellow {
    border-color: darken($theme-yellow, 5%);
    background-color: $theme-yellow;
    color: $black;

    &:hover,
    &:focus {
      &:not([disabled]) {
        border-color: darken($theme-yellow, 5%);
        background-color: darken($theme-yellow, 5%);
      }
    }

    &:active {
      &:not([disabled]) {
        border-color: darken($theme-yellow, 8%);
        background-color: darken($theme-yellow, 8%);
        color: $white;
      }
    }
  }

  &.btn-outline-yellow {
    border-color: $theme-yellow;
    color: $theme-gray-dark;
    text-align: left;
    white-space: normal;
    font-weight: 500;

    &:hover,
    &:focus {
      &:not([disabled]) {
        border-color: $theme-yellow;
        background-color: $theme-yellow;
      }
    }

    &:active {
      &:not([disabled]) {
        border-color: darken($theme-yellow, 8%);
        background-color: darken($theme-yellow, 8%);
        color: $theme-gray-dark;
      }
    }

    &.btn-inverse {
      color: $white;

      &:not([disabled]) {
        &:active,
        &:hover,
        &:focus {
          color: $theme-gray-dark;
        }
      }
    }
  }
}
