@import '../../../assets/scss/design-system/base/variables';
@import '../../../assets/scss/design-system/vendor/bootstrap/functions';
@import '../../../assets/scss/design-system/vendor/bootstrap/mixins';
@import '../../../assets/scss/design-system/vendor/bootstrap/variables';

.whiteTheme {
  background-color: $theme-white;
  color: $theme-blue;

  hr {
    border: 1px solid $theme-blue;
  }

  .header {
    > h2 {
      color: $theme-blue;
    }
  }

  a {
    span,
    i {
      color: $theme-blue;
    }

    &.isActive {
      background-color: $theme-blue;
      color: $theme-white;
    }
  }

  .linkBack span,
  .chevron {
    color: $theme-blue !important;
  }
}

.blueTheme {
  background-color: $theme-blue;
  color: $theme-white;

  hr {
    border: 1px solid $theme-white;
  }

  .header {
    > h2 {
      color: $theme-white;
    }
  }

  a {
    span,
    i {
      color: $theme-white;
    }
  }

  .linkBack span,
  .chevron {
    color: $theme-yellow !important;
  }
}

.wrapper {
  padding: 12px 0;
  max-width: 800px;

  hr {
    margin: 12px 24px;
    opacity: 0.3;
  }

  @include media-breakpoint-down(md) {
    border-radius: 3px;
  }

  .header {
    > h2 {
      padding: 12px 24px 8px 24px;
      letter-spacing: normal;
      margin: 0;

      .icon {
        vertical-align: middle;
        margin-top: -5px;
        margin-right: 10px;
      }
    }

    @include media-breakpoint-down(sm) {
      display: none;
      visibility: hidden;
    }

    .chevron {
      margin-left: -4px;
    }

    .linkBack {
      text-transform: uppercase;
      padding: 0 24px;
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-bottom: 12px;

      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
  }
}
