@import '../../../assets/scss/design-system/base/variables';
@import '../../../assets/scss/design-system/vendor/bootstrap/functions';
@import '../../../assets/scss/design-system/vendor/bootstrap/mixins';
@import '../../../assets/scss/design-system/vendor/bootstrap/variables';

.header {
  // background: linear-gradient(180deg, #000000 -64.66%, rgba(0, 0, 0, 0) 64.66%);
  position: relative;
  z-index: 100;
  color: $white;
  padding: 10px 0;

  @include media-breakpoint-down(sm) {
    background-color: $theme-blue;
  }
}

.gradient {
  background: linear-gradient(180deg, #000000 -64.66%, rgba(0, 0, 0, 0) 64.66%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  @include media-breakpoint-down(sm) {
    background: transparent !important;
  }
}

.header__inner {
  position: relative;
}

.navigation {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  overflow: unset !important;

  &::after {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    overflow: unset !important;
    width: 400px;
  }
}

.nav__link {
  margin-top: -1px !important;
  padding: 15px 14px 0 !important;
}

.nav__toggleWrapper {
  position: relative;
  z-index: 1001;
  padding-left: 0;
}

.nav__toggle {
  cursor: pointer;
  position: relative;
  padding-right: 40px;
  user-select: none;

  // icon
  & > span {
    display: block;
    position: absolute;
    height: 2px;
    width: 18px;
    background: $white;
    border-radius: 2px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 0.2s ease-out;

    &:first-of-type {
      right: 12px;
      top: 10px;
    }

    &:last-of-type {
      top: 19px;
      width: 12px;
      right: 12px;
    }
  }

  // label
  & > div {
    line-height: 32px;
  }
}
/* stylelint-disable no-descending-specificity */
.nav__toggle--open {
  & > span {
    &:first-of-type {
      top: 15px;
      transform: rotate(45deg);
    }
    /* stylelint-enable no-descending-specificity */
    &:last-of-type {
      width: 18px;
      top: 15px;
      transform: rotate(-45deg);
    }
  }
}

.nav__mobile {
  background-color: $theme-blue;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  padding: 78px 0 50px;
}

.nav__mobile--open {
  transform: translateX(0);
}

.nav__mobileLink {
  background: $theme-blue;
  display: block;
  width: 100%;
  color: $white !important;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  padding: 22px 26px 22px 0;
  font-size: 16px;
  font-weight: 500;
}

.nav__mobileLink--active {
  background-color: $white;
  color: $theme-blue-light !important;
  font-weight: 900;
}

// Temporarily hide menu link for English measure page.
.nav__link[href="/en/measures"],
.nav__mobileLink[href="/en/measures"] {
  display: none !important; //We need to be sure it not gets overriden.
}
