{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "react/prop-types": "off",
    "react/jsx-fragments": "off",
    "camelcase": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error"
  },
  "extends": [
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react"
  ],
  "plugins": ["@typescript-eslint", "prettier"]
}
