{
  "rules": {
    "prettier/prettier": true,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  },
  "plugins": [
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-config-standard"
  ],
  "ignoreFiles": [
    "assets/scss/design-system/**/*.scss"
  ]
}
