{
  "rules": {
    "prettier/prettier": true,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
  "at-rule-no-unknown": null,
  "scss/at-rule-no-unknown": true,
  "no-descending-specificity": null
  },
  "plugins": [
    "stylelint-prettier",
    "stylelint-scss",
  ],
  "extends": [
    "stylelint-config-standard"
  ],
  "ignoreFiles": [
    "assets/scss/design-system/**/*.scss"
  ]
}
