@import '../../../assets/scss/design-system/base/variables';

.contentBoxTitle {
  font-size: 2.3rem;
  font-weight: 300;
  color: $white;
  margin-bottom: 0.8rem;
}

.contentBoxDescription {
  margin-bottom: 1.6rem;
  color: $white;
  font-weight: 400;
}

.contentBox {
  padding-top: 1.6rem;
  margin: 0 0 1.6rem;
  border-radius: 0.3rem;
  overflow: hidden;
  background: $theme-blue;

  &NoPadding {
    padding: 0;
  }

  &--white {
    background: $white;

    .contentBoxTitle {
      color: $theme-blue-dark;
    }

    .contentBoxDescription {
      color: $theme-blue-dark;
    }
  }

  &--green {
    background: #1b9b2c;
  }

  &--blue {
    background: $theme-blue;
    color: $white;
  }
}

.content-box-btn {
  width: 100%;
  margin-top: 3px;
  color: $theme-blue;
  background-color: #fff;
  margin-bottom: 1.6rem;

  &--blue {
    color: #fff !important;
    background-color: $theme-blue;
  }

  &--green {
    color: #1b9b2c;
  }
}
