.contentBox {
  padding: 1.6rem 0;
  margin: 0 0 1.6rem;
  border-radius: 0.3rem;
  overflow: hidden;
  background: #2362a2;

  &NoPadding {
    padding: 0;
  }
}

.contentBoxTitle {
  font-size: 2.3rem;
  font-weight: 300;
  color: white;
  margin-bottom: 0.8rem;
}

.contentBoxTitleBold {
  font-weight: 700;
}

.contentBoxDescription {
  margin-bottom: 1.6rem;
  color: white;
  font-weight: 400;
}

.contentBoxButton {
  width: 100%;
  margin-top: 3px;
}

.contentBox--white {
  background: white;

  .contentBoxTitle {
    color: #2b4762;
  }
}
