.situationListItem {
  padding: 1.6rem 0;
}

.situationListItemTitle {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.1rem;
  color: #2b4762;
  margin-bottom: 0.8rem;
}

.situationListItemDescription {
  color: #707070;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
}

.situationListItemDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.situationListItemButton:global(.btn.btn-outline-primary) {
  border-color: #2362a2;
  color: #2362a2;

  &:hover,
  &:focus {
    border-color: #254e80;
    background-color: #e5ebf0;
    color: #254e80;
  }
}
