@import '../../../assets/scss/design-system/base/variables';

.categoryItem {
  display: flex;
  padding: 12px 36px 12px 24px;
  text-decoration: none;
  position: relative;

  .chevron {
    position: absolute;
    right: 20px;
    top: calc(50% - 8px);
    bottom: 0;
    transition: all 0.3s;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transition: all 0.2s;

    .chevron {
      transition: all 0.2s;
      right: 16px;
    }
  }

  &Icon {
    color: white;
    margin-right: 16px;
    font-size: 2rem !important;
  }

  &Title {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    flex-grow: 1;
    color: white;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  &.isActive {
    background: white;

    .chevron {
      display: none;
    }

    .categoryItemTitle,
    .categoryItemIcon {
      color: $theme-blue-dark;
    }
  }
}
