.categoryItem {
  display: flex;
  margin: 1.8rem 0;
  text-decoration: none;

  &Icon {
    color: white;
    margin-right: 1.2rem;
    font-size: 2rem !important;
  }

  &Title {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    flex-grow: 1;
    color: white;
    text-transform: uppercase;
    margin-right: 1rem;
  }
}
