/**
 *	Theme typography
 *
 *	This file contains @font-face declarations.
 */
$version: '1';

@font-face {
  font-family: 'Material Icons';
  src: url('#{$theme-path}/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2')
    format('woff2');

  font-display: block;
}
