/**
 *	Print
 *
 *	This file describes print view
 */


//
// Basic print styles
// --------------------------------------------------
// Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css


* {
	text-shadow: none !important;
	color: #000 !important; // Black prints faster: h5bp.com/s
	background: transparent !important;
	box-shadow: none !important;
	height: auto !important;
	width: auto !important;
	font-size: 1.5rem;
}

a,
a:visited {
	text-decoration: underline;
}

a[href]:after {
	content: " (" attr(href) ")";
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

// Don't show links for images, or javascript/internal links
a[href^="javascript:"]:after,
a[href^="#"]:after {
	content: "";
}

pre,
blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

thead {
	display: table-header-group; // h5bp.com/t
}

tr,
img {
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
}

p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}

h2,
h3 {
	page-break-after: avoid;
}

h1 {
	font-size: 2.2rem !important;
}

h2 {
	font-size: 2.1rem !important;
}

h3 {
	font-size: 1.9rem !important;
}

h4 {
	font-size: 1.8rem !important;
}

// Chrome (OSX) fix for https://github.com/twbs/bootstrap/issues/11245
// Once fixed, we can just straight up remove this.
select {
	background: #fff !important;
}

// Bootstrap components
.navbar {
	display: none;
}

.table {
	td,
	th {
		background-color: #fff !important;
	}
}

.btn,
.dropup > .btn {
	> .caret {
		border-top-color: #000 !important;
	}
}

.label {
	border: 1px solid #000;
}

.table {
	border-collapse: collapse !important;
}

.table-bordered {
	th,
	td {
		border: 1px solid #ddd !important;
	}
}

// Customs styles
@import 'base/_variables';                                               // Variables
@import 'base/_mixins';                                                  // Mixins
@import 'base/_functions';                                               // Support functions
@import 'base/_icons';                                                 // Icons
@import 'base/_typography';                                            // Typography

html#{$theme-class} {
	position: relative;
	min-width: 320px;
	font-size: 10px;
	min-height: 100%;
}

#{$theme-class} {

	iframe,
	.js-disclaimer,
	.footer__links,
	.footer__common ul,
	.debug-viewports,
	.btn-login,
	.lang-change__link,
	.nav--primary,
	.header--title,
	.search-holder,
	.nav--horizontal,
	.guide__icon,
	.guide__back-step,
	.nav--vertical,
	.guide h1,
	.guide__link-holder,
	.guide--mobile,
	.nav__vertical--secondary,
	.navigation h3,
	.district-selection,
	.select--secondary,
	.tabs__list,
	.date-picker,
	.paginator,
	.modal--municipality {
		display: none !important;
	}

	.container {
		max-width: 100% !important;
	}

	.header__logo {
		display: none;
	}

	.header__logo--print {
		display: block;
		width: 188px !important;
		height: 102px !important;
		-webkit-print-color-adjust: exact !important;
		color-adjust: exact !important;
	}

	.infoline {
		display: block;
		padding: 20px 0 5px;

		br {
			display: none;
		}
	}

	.header__inner {
		padding: 10px 0;
		margin-bottom: 10px;
		border-bottom: 1px solid $theme-black;
	}

	.body__wrapper--hp {

		.btn--more {
			display: block;
			padding-bottom: 10px;
			font-size: 0;
			line-height: 0;

			&[href]:after {
				content: "(" attr(href) ")";
				padding-bottom: 5px;
				font-size: 15px;
			}
		}
	}

	.breadcrumb {
		display: block !important;
		@include reset-pa-ma();
		padding: 5px 0 10px;
		border-bottom: 1px solid rgba(112, 112, 112, 0.3);

		li {
			display: inline-block;
		}

		li + li {

			&::before {
				content: '|';
				padding: 0 10px;
			}
		}

		.active {
			text-decoration: none;
		}
	}

	.box__inner,
	.tabs__side-title {
		border-top: 1px solid rgba(112, 112, 112, 0.3);
	}

	.mb-1 {
		margin-bottom: 15px;
	}

	.data-box {
		margin: 15px 0;

		ul {
			padding-left: 0;
		}

		li {
			list-style-type: none;
		}
	}

	.tabs__content-list {
		margin-top: 5px;
		padding-left: 0;

		li {
			list-style-type: none;
		}
	}

	.tabs__content-table {
		margin: 0;
	}

	.tabs__content-col {
		margin-bottom: 20px;
	}

	.accordion {
		border-bottom: 1px solid rgba(112, 112, 112, 0.3);

		&:first-child {
			padding-top: 20px;
		}
	}

	.accordion__link {
		text-decoration: none !important;
	}

	.accordion__list {
		li {
			list-style-type: disc;
		}
	}

	table {
		margin: 20px 0;
		text-align: left;
		border-collapse: collapse;
	}

	thead {
		th {
			padding-left: 1em;
			padding-bottom: 0.3em;

			&:first-child {
				padding-left: 0;
			}
		}
	}

	tbody {
		padding-top: 5px;

		tr {

			td {
				padding: 10px 15px;

				&:first-of-type {
					padding-left: 0;
				}
			}
		}

		td,
		th {
			border-bottom: 1px solid #ebebeb;
		}

		tr:last-child {
			td,
			th {
				border-bottom: none;
			}
		}

		.td--before {
			display: none;
		}
	}

	.footer__inner {
		padding: 10px 0 20px;
		border-top: 1px solid $theme-black;
	}
}