.field--widget-covid-question-answer-widget {
  .field-multiple-table {
    input {
      width: 100%;
    }
  }
}

// Styles for moderation content view table.
$moderated-content--draft: rgb(252, 153, 153);
$moderated-content--needs-review: rgb(110, 197, 255);
$moderated-content--approved: rgb(153, 255, 106);
.view-moderated-content {
  .views-field-moderation-state {
    &.moderation-state--draft {
      background: $moderated-content--draft;
    }
    &.moderation-state--needs-review {
      background:$moderated-content--needs-review;
    }
    &.moderation-state--approved {
      background: $moderated-content--approved;
    }
  }

  .moderation-state__legend {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    flex-direction: column;

    > div {
      padding: 5px;
      width: 100%;
    }

    .moderation-state--draft {
      background: $moderated-content--draft;
    }
    .moderation-state--needs-review {
      background: $moderated-content--needs-review;
    }
    .moderation-state--approved {
      background: $moderated-content--approved;
    }
  }
}

// Edit form styles.
.field-group--flex {
  display: flex;

  > div + div {
    @media (min-width: 1370px) {
      margin-left: 20px;
    }
 }
}

.field--name-field-pes-content,
.field--name-field-versions {
  .paragraph-type-label {
    display: none;
  }

  .filter-wrapper {
    display: none;
  }
}

@media all and (min-device-width: 800px) {
  .content--narrow {
    width: 800px;
  }
}
