.breadcrumbContainer {
  flex-wrap: wrap;
}

.breadcrumbItem {
  display: block !important;
  z-index: 9999;

  &.breadcrumbItemActive {
    color: #ecae1a;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}
