.textBox {
  margin: 2rem;
  padding: 1.6rem;
  border-radius: 0.3rem;
  overflow: hidden;
  background: white;

  h2 {
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin-bottom: 1rem;
    color: #2b4762;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #2b4762;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.54px;
    margin-bottom: 1rem;
    color: #707070;
  }

  em {
    font-style: italic;
    color: #afafaf;
  }
}

.contentBoxTitle {
  font-size: 2.3rem;
  font-weight: 300;
  color: #2b4762;
  margin-bottom: 0.8rem;
}

.contentBoxTitleBold {
  font-weight: 700;
}

.contentBoxDescription {
  margin-bottom: 1.6rem;
}

.contentBoxButton {
  width: 100%;
}
