@import '../../../assets/scss/design-system/base/variables';

/* purgecss start ignore */
.guide {
  margin: initial;
  background-image: none;
  background-color: #2362a2;
  box-shadow: none;

  &--white {
    background-color: #fff;
  }
}

.guide-title {
  font-size: 36px;
  color: #fff;

  &--blue {
    color: $theme-blue !important;
  }
}

.guide-description-text {
  font-size: 15px;
  color: #fff;

  &--blue {
    color: $theme-blue;
  }
}

.guide-btn {
  color: #2362a2 !important;
  background-color: #fff;

  &--blue {
    color: #fff !important;
    background-color: #2362a2;
  }
}
/* purgecss end ignore */
