.section {
  padding: 1.2rem 0;
  border-bottom: 1px solid rgba(35, 98, 162, 0.3);

  &Heading {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #2b4762;
  }

  &Button:global(.btn.btn-primary) {
    padding: 0;
    color: white;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.6rem;
    line-height: 1em;
  }
}
