.mainBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 340px;
  @supports (object-fit: cover) {
    object-fit: cover;
    width: 100%;
  }
  display: block;
  z-index: 0;
}
