.desktopTopContent {
  height: 250px;
}

.title {
  color: #fff;
  font-weight: 300;
  font-size: 40px;
}

.subtitle {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}
